<div class="container">
  <h1 class="text-center my-5"><%= destination.place.name %></h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Beranda</a></li>
      <li class="breadcrumb-item"><a href="/liburan">Semua Paket</a></li>
      <li class="breadcrumb-item active"><%= destination.place.name %></li>
    </ol>
  </nav>
  <div class="row g-5 mb-5">
    <% if (departures.length > 0) { %> <% departures.forEach(departure=> { %>
    <div class="col-lg-3 col-sm-6 col-auto">
      <a
        href="/liburan/departure/<%= departure._id %>"
        class="text-decoration-none text-dark"
      >
        <div class="card">
          <img
            src="../../images/destination/west_europe.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title"><%= departure.price.total %></h5>
            <p class="card-text"><%= departure.title %></p>
          </div>
        </div>
      </a>
    </div>
    <% }) %> <% } else { %>
    <h4 class="my-5 text-center">Belum ada keberangkatan yang tersedia</h4>
    <% } %>
  </div>
</div>
